{% extends 'base.html.twig'%}

{% block title %}
    Liste des items
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Liste des items</h1>
    <span>Un item est un produit, un ingrédient ou un aliment de base. La liste des items va consituer le catalogue à partir duquel créer des articles de liste de course et des recettes</span>
</div>

{% endblock %}